$tablet: 768px;
$macAir: 1280px;
$ipadPro: 1024px;
$desktop: 1440px;

$fontRegular: 'Satoshi Regular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontMedium: 'Satoshi Medium', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontBoldSatoshi: 'Satoshi Bold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontBold: 'IntegralCF Bold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;